failed
phones
tests_hard
test_hard
tests_proc
*.zip
*.gz
*.html
download
guess
captcha
captcha_service
tests
imgs
masks
pmasks
*.gif
*.jpeg
*.jpg
*.png

*.bak
*.log
*.out
phones.txt
captcha

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

